.container {
    width: 100%;
    max-width: 1504px;
    margin: 0 auto;

    .intro & {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature & {
        padding-bottom: 80px;
        border-bottom: 1px solid $grey;

        @include breakpoint($desktop-m) {
            padding-bottom: 64px;
        }

        @include breakpoint($desktop-s) {
            padding-bottom: 56px;
        }

        @include breakpoint($tablet) {
            padding-bottom: 48px;
        }
    }

    .pictures & {
        position: relative;
    }

    .new & {
        max-width: 837px;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint($desktop-s) {
            justify-content: space-around;
        }

        @include breakpoint($tablet) {
            justify-content: space-between;
            max-width: 642px;
        }
    }

    .subscribe & {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0 80px;

        @include breakpoint($desktop-m) {
            padding: 75px 0 74px;
        }

        @include breakpoint($desktop-s) {
            padding: 62px 0 80px;
        }
    }

    @include breakpoint($desktop-m) {
        max-width: 1200px;
    }

    @include breakpoint($desktop-s) {
        max-width: 944px;
    }

    @include breakpoint($tablet) {
        max-width: 640px;
    }

    @include breakpoint($mobile) {
        padding: 0 20px;
    }
}
