.header {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1680px;
    height: 88px;
    background: $white;
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 6px 7px rgba(16, 24, 40, 0.05);
    border-radius: 4px;
    font-size: 20px;
    line-height: 32px;
    color: $black;
    z-index: 1;

    &.fixed {
        position: fixed;
        z-index: 5;
        width: 100%;
        max-width: 100%;
        top: 0;

        @include breakpoint($desktop-m) {
            height: 72px;
        }

        @include breakpoint($desktop-s) {
            height: 64px;
        }

        @include breakpoint($tablet) {
            height: 56px;

            & .header__menu-btn {
                top: 27px;
            }
        }

        @include breakpoint($mobile) {
            height: 48px;

            & .header__menu-btn {
                top: 23px;
            }
        }
    }

    @include breakpoint($desktop-m) {
        max-width: 1320px;
        height: 80px;
    }

    @include breakpoint($desktop-s) {
        max-width: 100%;
        top: 0;
        font-size: 18px;
        line-height: 24px;
        justify-content: center;
    }

    @include breakpoint($tablet) {
        height: 72px;

        &.active {
            height: 1024px;
        }
    }

    @include breakpoint($mobile) {
        height: 56px;
        justify-content: space-between;

        &.active {
            min-height: 480px;
            height: auto;
            padding: 0;
        }
    }
}

.header__logo {
    display: block;
    width: 172px;
    height: 32px;
    background: url("../images/header-logo.svg");
    margin-right: 85px;
    
    &:focus {
        outline: 1px solid $yellow;
    }

    @include breakpoint($desktop-m) {
        margin-right: 60px;
    }

    @include breakpoint($desktop-s) {
        margin-right: 43px;
    }

    @include breakpoint($tablet) {
        margin-right: 443px;

        .header.active & {
            margin: 80px 0 159px;
        }
    }

    @include breakpoint($mobile) {
        margin: 0;

        .header.active & {
            margin: 47px 0;
        }
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin-right: 405px;

    @include breakpoint($desktop-m) {
        margin-right: 144px;
    }

    @include breakpoint($desktop-s) {
        margin-right: 44px;
    }

    @include breakpoint($tablet) {
        display: none;
        flex-direction: column;
        // margin: 0;
        // position: absolute;
        // top: 73px;
        // left: 0;
        background: $white;
        width: 100%;

        .header.active & {
            display: flex;
            margin-right: 0;
            margin-bottom: 165px;
        }
    }

    @include breakpoint($mobile) {
        top: 57px;

        .header.active & {
            margin-bottom: 60px;
        }
    }
}

.header__link {
    font-family: "Roboto", sans-serif;
    color: $black;
    text-decoration: none;
    margin-right: 40px;
    position: relative;
    display: block;

    &:last-child{
        margin-right: 0;
    }

    &.active {
        color: $black;

        @include breakpoint($tablet) {
            .header.active & {
                border-bottom: 3px solid $light-blue;
            }
        }

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background: $light-blue;
            top: 115%;
            left: 0;

            @include breakpoint($tablet) {
                .header.active & {
                    display: none;
                }
            }
        }
    }

    &:focus {
        outline: 1px solid $yellow;
    }

    &:hover,
    &:active {
        color: $light-blue;
    }

    @include breakpoint($desktop-s) {
        margin-right: 23px;
    }

    @include breakpoint($tablet) {
        margin: 0 auto 15px;

        &:last-child {
            margin: 0 auto 15px;
        }

        .header.active & {
            width: 100%;
            margin: 0;
            padding: 24px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $light-grey;
            font-size: 32px;
            line-height: 48px;
            font-weight: bold;
        }
    }

    @include breakpoint($mobile) {
        .header.active & {
            font-size: 24px;
            line-height: 32px;
            padding: 9px 0;
        }
    }
}

.header__theme {
    width: 303px;
    height: 100%;
    border-left: 1px solid $light-grey;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include breakpoint($desktop-m) {
        width: 284px;
    }

    @include breakpoint($desktop-s) {
        width: 248px;
    }

    @include breakpoint($tablet) {
        display: none;

        .header.active & {
            display: flex;
            border-left: 0;
            width: 212px;
            height: 25px;
        }
    }
}

.header__switch {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 24px;
    margin: 0 16px;

    &:focus {
        outline: 1px solid $yellow;
    }

    @include breakpoint($desktop-m) {
        margin: 0 12px;
    }

    @include breakpoint($desktop-s) {
        margin: 0 16px;
    }
}

.header__tumbler {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $light-blue;
    box-shadow: inset 0px 2px 5px rgba(16, 24, 40, 0.09);
    border-radius: 30px;
    transition: background-color .2s linear;

    &:before {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        top: 2px;
        right: 2px;
        background-color: white;
        border-radius: 50%;
        transition: transform .2s linear;
    }

    &:hover,
    &:active {
        background: $green;
    }

    .header__input:checked + & {
        background: $dark-grey;

        &:before {
            transform: translateX(-24px);
        }

        &:hover,
        &:active {
            background: $green;
        }
    }
}

.header__menu-btn {
    position: absolute;
    display: block;
    right: 0;
    top: 35px;

    @include breakpoint($tablet) {
        .header.active & {
            top: 25px;
            right: 15px;
        }
    }

    @include breakpoint($mobile) {
        top: 27px;
        right: 20px;

        // .header.active & {
        //     // top: 15px;
        //     // right: 15px;
        // }
    }
}

.header__burger {
    width: 25px;
    height: 2px;
    display: none;
    background: none;
    border: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    outline: none;

    &:before,
    &:after,
    span {
        display: block;
        width: 100%;
        height: 2px;
        background: $black;
        font-size: 0;
        color: transparent;
        position: absolute;
        left: 0;
    }

    &:before {
        top: -6px;
        content: '';
    }

    &:after {
        bottom: -6px;
        content: '';
    }

    span {
        top: 50%;
        transform: translateY(-50%);
        transition: opacity .1s;
    }

    &.active {

        span {
            opacity: 0;
        }

        &:before,
        &:after {
            top: 50%;
            transition: transform .2s;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    @include breakpoint($tablet) {
        display: block;
    }
}