.intro {
    position: relative;
    width: 100%;
    min-height: 937px;
    background: url("../images/intro-bg.jpg") no-repeat center center;
    background-size: cover;
    color: $white;

    @include breakpoint($desktop-m) {
        min-height: 704px;
    }

    @include breakpoint($mobile) {
        min-height: 472px;
    }
}

.intro__title {
    max-width: 100%;
    font-size: 64px;
    line-height: 72px;
    margin: 392px 0 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include breakpoint($desktop-m) {
        font-size: 48px;
        line-height: 52px;
        margin: 304px 0 11px;
    }

    @include breakpoint($desktop-s) {
        line-height: 56px;
        margin: 302px 0 11px;
    }

    @include breakpoint($tablet) {
        font-size: 40px;
        line-height: 52px;
        margin: 240px 0 20px;
    }

    @include breakpoint($mobile) {
        font-size: 32px;
        line-height: 44px;
        margin: 128px 0 16px;
        white-space: pre-wrap;
        overflow: visible;
        text-overflow: clip;
        text-align: center;
    }
}

.intro__text {
    max-width: 100%;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 76px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include breakpoint($desktop-m) {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 80px;
    }

    @include breakpoint($desktop-s) {
        margin-bottom: 59px;
    }

    @include breakpoint($tablet) {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 116px;
    }

    @include breakpoint($mobile) {
        font-size: 20px;
        line-height: 28px;
        white-space: pre-wrap;
        overflow: visible;
        text-overflow: clip;
        text-align: center;
        margin-bottom: 72px;
    }
}

.intro__link {
    width: 288px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gradient;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $white;

    &:hover,
    &:active {
        background: $light-blue;
    }

    &:focus {
        outline: 1px solid $yellow;
    }

    @include breakpoint($desktop-s) {
        width: 272px;
        height: 48px;
    }

    @include breakpoint($tablet) {
        font-size: 16px;
        line-height: 20px;
    }
}