.pictures {
    width: 100%;
    padding: 40px 0 111px;
    background: $white;

    @include breakpoint($desktop-m) {
        padding-bottom: 88px;
    }

    @include breakpoint($desktop-s) {
        padding-bottom: 80px;
    }

    @include breakpoint($tablet) {
        padding-top: 33px;
    }

    @include breakpoint($mobile) {
        padding-top: 30px;
        padding-bottom: 120px;
    }
}

.pictures__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @include breakpoint($mobile) {
        justify-content: center;
        margin-bottom: 32px;
    }
}

.pictures__item {
    width: 49%;
    max-width: 736px;
    margin-bottom: 32px;

    &:nth-child(5n+3) {
        width: 100%;
        max-width: 1504px;
    }

    @include breakpoint($mobile) {
        width: 100%;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.pictures__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 472px;
    background: url('../images/picture.jpg') no-repeat center center, $white;
    background-size: cover;

    &:focus {
        outline: 1px solid $yellow;
    }

    &:hover .pictures__content {
        opacity: 1;
    }

    @include breakpoint($desktop-m) {
        height: 376px;
    }

    @include breakpoint($desktop-s) {
        height: 368px;
    }

    @include breakpoint($tablet) {
        height: 272px;
    }
}

.pictures__content {
    width: 100%;
    height: 120px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    padding: 32px 20px 32px 32px;
    color: $white;
    opacity: 0;
    transition: opacity .1s linear;

    @include breakpoint($desktop-s) {
        height: 72px;
        padding: 0 0 0 15px;
    }

    @include breakpoint($tablet) {
        height: 56px;
        padding: 0 0 0 10px;
    }
}

.pictures__description {
    width: 80%;
    display: flex;
    flex-direction: column;

    @include breakpoint($desktop-s) {
        width: 70%;
    }
}

.pictures__author {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    @include breakpoint($desktop-s) {
        margin-bottom: 10px;
    }
}

.pictures__avatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $white;
    background-size: cover;
    margin-right: 8px;
}

.pictures__name {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pictures__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pictures__like {
    max-width: 20%;
    min-width: auto;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 24px;

    @include breakpoint($desktop-s) {
        max-width: 30%;
    }

    @include breakpoint($tablet) {
        right: 10px;
        bottom: 15px;
    }
}

.pictures__like-btn {
    display: block;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: url('../images/like.svg') no-repeat center center, $white;
    padding: 0;
    border: 0;
    margin: 0 8px 0 0;
    cursor: pointer;

    &:focus {
        outline: 1px solid $yellow;
    }

    &:hover {
        background: url('../images/like-hover.svg') no-repeat center center, $white;
    }

    &:active {
        background: url('../images/like-active.svg') no-repeat center center, $white;
    }
}

.pictures__like-counter {
    max-width: 95px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include breakpoint($desktop-s) {
        max-width: 70px;
    }

    @include breakpoint($tablet) {
        max-width: 35px;
    }
}

.pictures__btn {
    display: block;
    width: 224px;
    height: 56px;
    font-family: 'Roboto, sans-serif';
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $green;
    margin: 0 auto;
    background: $light-grey;
    border: 0;
    cursor: pointer;
    padding: 16px 48px;

    &:focus {
        outline: 1px solid $yellow;
    }

    &:hover,
    &:active {
        color: $light-blue;
    }

    @include breakpoint($tablet) {
        width: 191px;
        height: 48px;
        padding: 12px 30px;
    }

    @include breakpoint($mobile) {
        width: 100%;
    }
}

.pictures__scroll-btn {
    position: absolute;
    bottom: -55px;
    right: 0;
    width: 56px;
    height: 56px;
    border: 0;
    border-radius: 50%;
    background: url('../images/scroll-arrow.svg') no-repeat center center, $green;
    padding: 0;
    cursor: pointer;

    &.active {
        background: url('../images/scroll-arrow-active.svg') no-repeat center center, $light-blue;
    }

    &:hover {
        background: url('../images/scroll-arrow.svg') no-repeat center center, $light-blue;
    }

    &:focus {
        outline: 1px solid $yellow;
    }

    @include breakpoint($mobile) {
        bottom: -88px;
        right: 20px;
    }
}