.subscribe {
    width: 100%;
    height: 328px;
    background: $light-blue;
    color: $white;

    @include breakpoint($desktop-s) {
        height: 296px;
    }

    @include breakpoint($mobile) {
        height: 316px;
    }
}

.subscribe__title {
    @extend %roboto-bold;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 7px;

    @include breakpoint($desktop-s) {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 0;
    }

    @include breakpoint($mobile) {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 12px;
    }
}

.subscribe__text {
    @extend %roboto-regular;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 37px;

    @include breakpoint($desktop-m) {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 32px;
    }

    @include breakpoint($desktop-s) {
        font-size: 16px;
        line-height: 28px;
    }

    @include breakpoint($mobile) {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 40px;
    }
}

.subscribe__btns {
    width: 100%;
    max-width: 480px;
    height: 56px;
    position: relative;
    background: $white;

    @include breakpoint($desktop-s) {
        height: 48px;
    }
}

.subscribe__label {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 56px;
    overflow: hidden;

    & span {
        display: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $red;
        position: absolute;
        top: 0;
        left: 198px;
    }

    & b {
        display: block;
        @extend %roboto-bold;
        font-size: 18px;
        line-height: 24px;
        color: $dark-grey;
        position: absolute;
        top: 16px;
        left: 24px;
        opacity: 0;
        transition: transform 0.4s linear, opacity 0.2s linear;
        transform: translateX(-150%);

        &:last-of-type {
            @extend %roboto-regular;
            font-size: 16px;
            line-height: 24px;
            top: 0;
            left: 24px;
            transform: none;
        }

        @include breakpoint($desktop-s) {
            top: 12px;
        }

        @include breakpoint($mobile) {
            font-size: 16px;
            line-height: 20px;
            top: 14px;
        }
    }

    @include breakpoint($desktop-s) {
        height: 48px;
    }
}

.subscribe__input {
    width: 100%;
    height: 56px;
    border: 0;
    margin: 0;
    padding: 25px 0 0 24px;
    @extend %roboto-bold;
    font-size: 18px;
    line-height: 24px;
    color: $dark-grey;
    cursor: pointer;

    & ~ b:first-of-type {
        opacity: 1;
        transform: translateX(0);
    }

    &:hover ~ b:first-of-type {
        opacity: 0;
        transform: translateX(-150%);
    }

    &:hover ~ b:nth-of-type(2) {
        opacity: 1;
        transform: translateX(0);
    }

    &:focus {
        outline: 0;
        border: 1px solid $yellow;

        & ~ b:first-of-type,
        & ~ b:nth-of-type(2) {
            opacity: 0;
            transform: translateX(-150%);
        }

        & ~ b:last-of-type {
            opacity: 1;
        }
    }

    &:out-of-range ~ span {
        display: block;
    }

    @include breakpoint($desktop-s) {
        height: 48px;
        padding: 12px 0 0 24px;
    }

    @include breakpoint($mobile) {
        font-size: 16px;
    }
}

#error-msg,
#label1,
#label2,
#label3 {
    &.hide {
        opacity: 0;
        transform: translateX(-150%);
    }

    &.active {
        opacity: 1;
        display: block;
    }
}

.subscribe__submit {
    display: block;
    width: 32px;
    height: 32px;
    border: 0;
    padding: 0;
    position: absolute;
    top: 12px;
    right: 16px;
    background: url("../images/subscribe-submit.svg") no-repeat center center;
    cursor: pointer;

    @include breakpoint($desktop-s) {
        top: 8px;
    }
}