<footer class="footer">
    <div class="footer__content">
        <img src="" alt="" class="footer__logo">
        <div class="footer__contacts">
            <a href="tel:+73412501501" class="footer__phone"></a>
            <a href="mailto:hello@pixelphoto.ru" class="footer__email"></a>
        </div>
        <div class="footer__social">
            <a href="" class="footer__link">vk</a>
            <a href="" class="footer__link">fb</a>
            <a href="" class="footer__link">ok</a>
            <a href="" class="footer__link">in</a>
        </div>
    </div>
    <p class="footer__copyright">© 2021, «Pixelphoto». Все права защищены.</p>
</footer>
