<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <img src="../assets/images/header-logo.svg" alt="logo" class="footer__logo">
            <div class="footer__contacts">
                <a href="tel:+73412501501" class="footer__phone">+7 (3412) 50 15 01</a>
                <a href="mailto:hello@pixelphoto.ru" class="footer__email">hello@pixelphoto.ru</a>
            </div>
            <div class="footer__social">
                <a href="https://vk.com/" class="footer__link">
                    <span class="visually-hidden">vk</span>
                </a>
                <a href="https://www.facebook.com/" class="footer__link">
                    <span class="visually-hidden">fb</span>
                </a>
                <a href="https://ok.ru/" class="footer__link">
                    <span class="visually-hidden">ok</span>
                </a>
                <a href="https://www.instagram.com/?hl=ru" class="footer__link">
                    <span class="visually-hidden">in</span>
                </a>
            </div>
        </div>
        <p class="footer__copyright">© 2021, «Pixelphoto». Все права защищены.</p>
    </div>
</footer>
