<header class="header">
    <div class="container">
        <a href="../index.html" class="header__logo">
            <span class="visually-hidden">pixelphoto</span>
        </a>
        <nav class="header__nav">
            <a href="#" class="header__link">Новое</a>
            <a href="#" class="header__link">Коллекции</a>
            <a href="#" class="header__link">О нас</a>
            <a href="#" class="header__link active">Помощь</a>
            <a href="#" class="header__link">Контакты</a>
        </nav>
        <div class="header__theme">
            <span>Темная</span>
            <label class="header__switch" tabindex="0">
                <input type="checkbox" class="header__input hidden">
                <span class="header__tumbler"></span>
            </label>
            <span>Светлая</span>
        </div>
        <div class="header__menu-btn">
            <button type="button" class="header__burger">
                <span>menu</span>
            </button>
        </div>
    </div>
</header>
