$white: #fff;
$light-grey: #f5f5f5;
$grey: #dbdbdb;
$dark-grey: #666b75;
$deep-grey: #A9ACB2;
$light-black: #101828;
$black: #0f0f0f;
$yellow: #FFB609;
$light-blue: #2F9BFF;
$blue: #0D3DBC;
$red: #FF0D0C;
$green: #2ACCA3;

$gradient: linear-gradient(89.82deg, #2F9BFF 0.12%, #2ACCA3 79.92%);

$desktop-l: 1920px;
$desktop-m: 1440px;
$desktop-s: 1024px;
$tablet: 768px;
$mobile: 320px;

@mixin breakpoint($bp) {
    @media (max-width: $bp) {
        @content;
    }
}